@model QuanLySach.Models.Sach

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_Layout_Admin.cshtml";
}

<h2>Edit</h2>

@using (Html.BeginForm("Edit", "Sach", FormMethod.Post, new {@enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Chỉnh sửa @Model.TenSach</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.MaSach)

        <div class="form-group">
            @Html.LabelFor(model => model.TenSach, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@Html.EditorFor(model => model.TenSach, new { @class = "form-control" })*@
                <input type="text" name="TenSach" value="@Model.TenSach" class="form-control" />
                @Html.ValidationMessageFor(model => model.TenSach)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.GiaTien, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.GiaTien, new { htmlAttributes = new {@class = "form-control" } })
                @Html.ValidationMessageFor(model => model.GiaTien)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TheLoai, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("TheLoai", null, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.TheLoai)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AnhBia, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AnhBia, new { htmlAttributes = new { @type = "hidden" } })
                @Html.ValidationMessageFor(model => model.AnhBia)
                @*Name của thẻ ipput phải trùng tên với tham số trên action edit*@
                <input type="file" name="fileUpload"/>
            </div>
            @ViewBag.ThongBao
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TacGia, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TacGia, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TacGia)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NgayPhatHanh, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.NgayPhatHanh, "{0:yyyy-MM-dd}", htmlAttributes: new { @type = "date", @class = "form-control" })
                @Html.ValidationMessageFor(model => model.NgayPhatHanh)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.GioiThieuChung, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.GioiThieuChung, new { @class = "ckeditor", @name = "editor1" })
                @Html.ValidationMessageFor(model => model.GioiThieuChung)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.NoiDungChiTiet, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.NoiDungChiTiet, new { @class = "ckeditor", @name = "editor2" })
                @Html.ValidationMessageFor(model => model.NoiDungChiTiet)
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
