@model QuanLySach.Models.BinhLuan

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout_Admin.cshtml";

}

<h2>Chi tiết bình luận</h2>

<div>
    <h4>BinhLuan</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Sach.TenSach)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sach.TenSach)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TaiKhoan.TenDangNhap)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TaiKhoan.TenDangNhap)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ThoiGian)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ThoiGian)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NoiDung)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NoiDung)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Chỉnh sửa", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Trở lại danh sách", "Index")
</p>
