@*@model IEnumerable<QuanLySach.Models.BinhLuan>*@
@using PagedList.Mvc;
@using QuanLySach.Models;
@model PagedList.IPagedList<BinhLuan>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout_Admin.cshtml";
}
<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.First().Sach.TenSach)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().TaiKhoan.TenDangNhap)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().ThoiGian)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().NoiDung)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Sach.TenSach)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TaiKhoan.TenDangNhap)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ThoiGian)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NoiDung)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}
</table>
<div class="menuPhanTrang">
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }))
</div>
