@{
    ViewBag.Title = "NoiDungChiTiet";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using QuanLySach.Models;
@model Sach
<div class="book_container">
    <div class="book_content">
        <h2>@Model.TenSach</h2>
        <div class="book_mota">
            <p>@Html.Raw(@Model.NoiDungChiTiet)</p>
            <div class="book_info">
                <strong>Tác giả: </strong><span>@Model.TacGia</span><br>
                <strong>Ngày phát hành: </strong><span>@string.Format("{0:dd/MM/yyyy}", @Model.NgayPhatHanh)</span>
            </div>
            <div class="image_book">
                <img src="@Url.Content("~/Content/images/"+ @Model.AnhBia)">
            </div>
        </div>
    </div>
</div>
<br />
@*Load commet*@
<div id="comment_List">
    @Html.Action("BinhLuan_Partial", "Comment")
</div>
@using (Ajax.BeginForm("BinhLuan", "Comment", new AjaxOptions
{
    HttpMethod = "POST",
    UpdateTargetId = "list_comment",
    InsertionMode = InsertionMode.Replace,
    //OnSuccess = "ClearTextArea"
}))
{
    <div id="commentArea">
        <div>
            <textarea class="form-control" style="width: 100%; height: 100px;" name="binhluan" id="binhluan" placeholder="Your comment. . . . . . . . . . ."></textarea>
        </div>
        <div>
            <input class="btn btn-primary" onclick="setTimeout(clearContent, 1)" type="submit" name="btn_comment" value="Comment">
        </div>
    </div>
}













